body{
    background: #efefef;
}

.container{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 250px repeat(2, 100px) 600px;
    grid-column-gap: 100px;
    background: #efefef;
}

.inputs{
    width: 600px;
    height: 700px;
    display: grid;
    grid-template-columns: auto auto ;
    border: 1px solid black;
    background: #FFF;
}

input{
    display: block;
    width: 255px;
    height: 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #AAAAAABF;
    border-radius: 2px;
    opacity: 1;
}

.button{
    background: rgb(0, 50, 255);
    text-align: center;
    border-radius: 20px;
    color: white;
    height: 40px;
    width: 150px;
    line-height: 40px;
    user-select: none;
    cursor: pointer;
    grid-column-start: 1;
}

.visit_container{
    width: 445px;
    height: 270px;
    grid-column-start: 4;
    border: 1px solid black;
    background: white;
    margin-top: 30px;
}

#organization_text{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 40px;
}

#name_text{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
}

#position_text{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 600;
}

.other_information{
    margin-top: 15px;
}

#telephone_text{
    margin-right: 30px;
    text-align: right;
    font-size: 14px;
}

#telephone_dop_text{
    margin-right: 30px;
    text-align: right;
    font-size: 14px;
}

#telephone_dop{
    margin-right: 30px;
    text-align: left;
    font-size: 14px;
}

.hidden{
    display: none !important;
}

#email_text{
    text-align: right;
    margin-right: 30px;
    font-size: 14px;
}

#address_text{
    text-align: right;
    margin-right: 30px;
    font-size: 14px;
}

.add_icon{
    cursor: pointer;
}

#apply{
    margin-left: 20px;
}

.note{
    margin-bottom: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 5px;
    grid-column-start: 1;
}

.option{
    width: 105px;
    margin-left: 15px;
    height: 20px;
    border: #b9b9b9 solid 1px;
}

.align_buttons{
    cursor: pointer;
    width: 33px;
    border: #b9b9b9 solid 1px;
    float: left;
}

.align_buttons img{
    margin-left: 7px;
}

.pressed{
    background-color: #cecece;
}

#name_align{
    grid-column-start: 2;
    grid-row-start: 2;
}

.options{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-start: 2;
    grid-column-start: 3;
}

#name_size{
    grid-column-start: 3;
    grid-row-start: 2;
}

.name_size{
    cursor: pointer;
    width: 33px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    border: #b9b9b9 solid 1px;
    float: left;
}

#name_text{
    font-size: 26px;
}