<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pythons</title>
        <style>
            body{
                margin: 0;
                background-color: black;
            }

            .window{
                padding: 20px;
                margin: 100px auto;
                border: 20px solid white;
                align-items: center;
                width: 600px;
            }
            .window img{
                width: 500px;
            }
        </style>
    </head>
    <body>

        <div class="window">
            <h4>The best python!</h4>
            <img src="{{url}}">
        </div>
    </body>
</html>