@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Gentium Plus', serif;
}

.title{
    height: 25px;
    width: 400px;
    text-align: center;
    background-color: cadetblue;
}

td{
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    height: 30px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.table-header{
    height: 40px;
    font-weight: 100;
    font: 12px italic gray;
    background-color: cadetblue;
}

.table-results{
    width: 400px;
    border-collapse: collapse;
    background: whitesmoke;
}

table td:nth-child(1){

}

table td:nth-child(2){
    width: 350px;
}

table td:nth-child(3){

}